<% if(locals.user){ %>
<div id="chatter">
    <ul id="chatbox">
        <li class="other-message">
            <span>hi kanishak</span>
        </li>
        <li class="self-message">
            <span>hello!!</span>
        </li>
    </ul>
    <div id="messenger">
        <form action="" id="sender">
            <input type="text" placeholder="write message" id="message">
            <input type="button" value="Send" id="send">
        </form>
    </div>
</div>
<% } %>