<% if(locals.user){ %>
<div id="chatter">
    <ul id="chatbox">
        <% for(let i in chat_room.messages){ %>
            <% let messageType = "other-message" %>
            <% if(chat_room.messages[i].user == locals.user.id){%>
                
                <% messageType = "self-message" %>
            <%} %>
            <li class="<%= messageType %>">
                <span>
                    <sub><%= chat_room.messages[i].user.name %></sub>
                    <%= chat_room.messages[i].content %>
                </span>
            </li>

        <%} %>
    </ul>
    <div id="messenger">
        <form action="/send-message" id="sender">
            <input type="text" name="message" placeholder="write message" id="message">
            <input type="button" value="Send" id="send-message">
        </form>
    </div>
</div>
<% } %>