<li>
    <p>
        <%= comment.content %> <br>
            <small>
                <%= comment.user.name %>
            </small>
    </p>
    <% if(locals.user && (locals.user.id==comment.user.id || locals.user.id==post.user.id)){ %>
        <a href="/comments/delete/<%= comment.id %>">X</a>
        <% } %>
</li>