<footer>
    <p> @kanishak_garg8778 </p>
    <p> All rights reserved</p>
    <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/users/profile">Profile</a></li>
    </ul>
</footer>