
<form action="/users/reset-password" method="post">
    <h1>forgot password</h1>
    <label for="email">Enter your email id</label>
    <input type="text" name="email" placeholder="Enter your mail id" required>

    <button type="submit" id="btn">Register</button>
</form>