<link rel="stylesheet" type="text/css" href="/css/sign_up.css">

<h6>Enter new password</h6>
<section id="outer">
    <form action="/users/update-password/<%= token %>" method="post">
        <h1>Reset Password</h1>
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="password" required>

        <label for="password">confirm Password</label>
        <input type="password" name="confirm_password" placeholder="confirm password" required>

        <button type="submit" id="btn">Register</button>

    </form>
</section>
