<link rel="stylesheet" href="/css/sign_up.css">



<section id="outer">
    <form action="/user/create-session" method="post">
        <h1>Sign In</h1>
        <label for="email">Email id</label>
        <input type="text" name="email" placeholder="Enter your mail id" required>

        <label for="password">Password</label>
        <input type="password" name="password" placeholder="password" required>

        <button type="submit" id="btn">Register</button>

    </form>
</section>