<link rel="stylesheet" type="text/css" href="/css/sign_up.css">


<section id="outer">
    <form action="/users/create" method="post">
        <h1>Sign Up</h1>
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="Enter your name" required>

        <label for="email">Email id</label>
        <input type="text" name="email" placeholder="Enter your mail id" required>

        <label for="password">Password</label>
        <input type="password" name="password" placeholder="password" required>

        <label for="password">confirm Password</label>
        <input type="password" name="confirm_password" placeholder="confirm password" required>

        <button type="submit" id="btn">Register</button>

    </form>
    <%- include('_google_signIn') -%>
</section>