#home-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  #home-container #posts-container {
    width: 60%; }
  #home-container #friends-container {
    width: 20%;
    height: 100%;
    border-left: 1px solid gray;
    padding: 10px; }

#feed-posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#new-post {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

#submit_post {
  padding: 10px;
  margin: 10px;
  width: 90px;
  height: 50px;
  border-radius: 1.5rem;
  background-color: green;
  color: gold;
  font-size: 1.3rem; }

#posts-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px; }
  #posts-list-container ul {
    text-decoration: none; }

.post {
  width: 450px;
  min-height: 350px;
  border: 1px solid grey;
  border-radius: 1.5rem;
  margin: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden; }

.post-content {
  background-color: lightseagreen;
  padding-left: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end; }
  .post-content h3,
  .post-content p {
    color: white;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif; }
  .post-content .details {
    width: 80%; }

.delete_post {
  background-color: red;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px; }
  .delete_post a {
    color: white;
    text-decoration: none;
    padding: 5px; }

.post-comment {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  .post-comment textarea,
  .post-comment input {
    padding: 5px; }

.comment-list {
  max-height: 230px;
  overflow-y: scroll;
  text-decoration: none; }
  .comment-list li {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    background-color: #dcf8c8;
    width: 300px;
    padding-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 0 1.3rem 1.3rem 0;
    overflow: hidden;
    padding-left: 15px;
    font-family: Helvetica, sans-serif; }
    .comment-list li p {
      display: flex;
      flex-direction: column;
      padding-right: 15px; }
      .comment-list li p small {
        align-self: flex-end; }
